* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
}
/* .column1 {float: left;
    width: 30%;
    margin-right:5%;
    flex:0 0 auto;
}
.column2 {width: 30%;
    flex:0 0 auto;
}
.column3 {float: right;
    width: 30%;
    margin-left: 5%;
    flex:0 0 auto;
} */

.navbar, .navbar-expand-lg {min-height:8%;
  max-height:8%;
  z-index:1000000;
  /* margin: 0.5em; */
}
#mapid {min-height:84%;
  max-height:84%;
    width: 100%;
    z-index:auto;
  }
body{height:100%;}
footer {min-height:8%;
  max-height:8%;
background-color: #dddd;
font: #aaaa;
text-align: center;
}
footer:after{content:"";}

#ac-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,.6);
  z-index: 100001;
}

#popup {
  width: 50%;
  height: 50%;
  background: #FFFFFF;
  border: 5px solid #000;
  border-radius: 25px;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  box-shadow: #64686e 0px 0px 3px 3px;
  -moz-box-shadow: #64686e 0px 0px 3px 3px;
  -webkit-box-shadow: #64686e 0px 0px 3px 3px;
  position: relative;
  top: 25%; left: 25%;
  overflow:auto;
  font-size:12pt;
  text-align: center;
}