.column1 {float: left;
    width: 30%;
    margin-right:5%;
    flex:0 0 auto;
}
.column2 {width: 30%;
    flex:0 0 auto;
}
.column3 {float: right;
    width: 30%;
    margin-left: 5%;
    flex:0 0 auto;
}
span{height:300px;
    overflow:auto;
}
#mapid {height: 83vh;
    max-width: 100%;
    z-index:auto;
  }
body{height:100%;}
footer {height:5%;
background-color:#dddddd;}